/*Custom CSS*/
#map {
    height: 100%
}

#weatherBox {
    position: absolute;
    display: block;
    width: 175px;
    height: 150px;
    background-color: #003366;
    box-shadow: 10px 10px 5px grey;
    z-index: 2;
    top: 65px;
    right: 10px;
    color: #fff;
    list-style-type: none;
    text-align: center;
    font-family: helvetica;
    border-radius: 20px;
}

#weatherLoc {
    margin-top: 10px;
    font-size: 12px;
    
}
#weatherSummary {
    font-weight: bold;
        font-size: 18px;
}

#weatherCallout {
    font-size: 12px;
    font-style: italic;
    color: #fff;
}

#weatherCallout span {
    font-weight: bold;
    font-size: 15px;
}

#weatherIcon, #weatherTemp {
    font-size: 20px;
}

#weatherHumid {
    float: left;
    font-size: 11px;
    margin: 5px;
}

#weatherUv {
    float: right;
    font-size: 11px;
    margin: 5px;
}

#nyTimesBox {
    position: absolute;
    display: block;
    width: 175px;
    height: 150px;
    background-color: #fff;
    border: 2px double black;
    box-shadow: 10px 10px 5px grey;
    z-index: 2;
    top: 250px;
    right: 10px;
    color: #000;
    list-style-type: none;
    text-align: center;
    font-family: Baskerville;
}

#nytTitle {
    font-size: 18px;
    font-weight: bold;
}

#nytSnippet {
    font-size: 12px;
    margin: 1px;
}

#nytSnippetUrl {
    font-family: helvetica;
    font-size: 12px;
    text-decoration: underline;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: Roboto, Arial, sans-serif;
}

.sidenav a, #searchInput {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #343a40;
    display: block;
    transition: 0.3s;
    font-family: Roboto, Arial, sans-serif;
}

#openbtn {
    font-size:25px;
    padding: 5px;
    color: #56606a;
    cursor:pointer;
    top: 65px;
    left: 10px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    font-family: Roboto, Arial, sans-serif;
    box-shadow: 10px 10px 5px grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor:pointer;
}

#openbtn:hover {
    background-color: #e4e5e6;
}

.locTitle {
    border-bottom: 1px solid #bbc7d2;
}

.locTitle:hover {
    color: #8abaea;
}

#resetMap {
    font-size:15px;
    font-weight: bold;
    padding: 5px;
    color: #56606a;
    cursor: pointer;
    bottom: 35px;
    right: 50px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    font-family: Roboto, Arial, sans-serif;
}

#resetMap:hover {
    color: black;
}


@media screen and (max-width: 800px) {
    #resetMap {
    top: 8px;
    left: 110px;
     bottom: initial;
    right: initial;
}

}

@media screen and (max-width: 480px) {

#weatherBox, #nyTimesBox {
    position: static;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-shadow: none;
    border-radius: initial;
}

#resetMap {
    top: 8px;
    left: 110px;
     bottom: initial;
    right: initial;
}

}
